pre {
  border: 2px dashed tomato;
  border-radius: 5px;
  max-width: 700px;
  background-color: #161b22;
}

p {
  max-width: 700px;
}

code {
  border-radius: 5px;
  background-color: rgb(110 117 129 / 0.4);
  padding: 0 5px 0 5px;
}
